<html>
<head>
    <style>
        body {
            font-family: Arial;
            text-align: center;
        }

        .board {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            gap: 5px;
            justify-content: center;
            margin-top: 20px;
        }

        .cell {
            width: 100px;
            height: 100px;
            font-size: 40px;
        }
    </style>
    <meta http-equiv="refresh" content="1">
</head>
<body>

<h1>Kolko i krzyzyk PVP</h1>

<form method="POST" action="/move">
    <div class="board">
    {% for i in range(3) %}
        {% for j in range(3) %}
            <button class="cell" name="move" value="{{ i }},{{ j }}">
                {{ board[i][j] }}
            </button>
        {% endfor %}
    {% endfor %}
</div>
    <div>
        <p>Ilosc polaczonych klientow = {{ clients }} / 2</p>
    </div>
    <div>
        <p>Ruch: {{ currentPlayer }}</p>
    </div>
    <div>
        <p>Grasz jako <b>{{ symbol }}</b></p>
    </div>
</form>
{% if winner %}
    {% if winner == "REMIS" %}
        <h2>REMIS</h2>
    {% else %}
        <h2>Wygral gracz {{ winner }}</h2>
    {% endif %}

    <form method="POST" action="/reset">
        <button>Nowa gra</button>
    </form>
{% endif %}
</body>
</html>
